
@{
    ViewBag.Title = "Agregar2";
}

<h2>Agregar2</h2>

@Html.Editor("Trabajador")
@{
    ver lista = new List<SelectListItem>()
    {
        new SelectListItem()
        {
        Text="Si",
        Value="1"
        },
        new SelectListItem()
        {
        Text="No",
        Value="2"
        },
        };
    }
}
<br />
@Html.DropDownList("Mi lista", lista)
