
@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

Mi nombre es <b>@ViewData["Nombre"]</b> 
y mi correo es <a href="@ViewData["correo"]">Danna Marlene</a>
<br />Fecha :@(((DateTime)ViewData["FechaNaci"]).ToLongDateString())
